// Laptop (Small) Size : 1024px - 1px
@media screen and (max-width : 1023px) {
    .project {
        width: 360px !important;
    }
    .skills {
        flex-direction: column;
    }
    .img-show {
        width: 53%;
    }
    .pos-menu {
        width: 300px;
    }
}

// Tablet (Normal) Size : 768px - 1px
@media screen and (max-width : 767px) {
    .projects {
        grid-template-columns: 1fr !important;
    }
    .project {
        width: 390px !important;
    }
    .skills .content{
        grid-template-columns: repeat(2 , 1fr) !important;
    }
    .img-show {
        width: 72%;
    }
    .pos-menu {
        width: 280px;
    }
}

// Mobile (Large) Size : 425px - 1px
@media screen and (max-width : 424px) {
    .pos-menu {
        width: 250px;
        li a {
            justify-content: right;

            i {
                width: 25%;
            }
            span.mb-txt {
                display: inline;
            }
            span.pc-txt {
                display: none;
            }
        }
    }
    .project {
        width: 350px !important;
        height: 220px !important;

        .title {
            font-size: calc(var(--font-xl-size) + .3rem) !important;
        }
    }

    .experiences {
        gap: 2rem !important;
    }

    #tabSwitcher {
        li {
            width: 130px !important;
        }
    }
    .img-show {
        width: 92%;
    }
    footer {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }
    #coffee {
        span {
            font-size: var(--font-s-size);
        }
    }
}

// Mobile (Medium) Size : 375px - 1px
@media screen and (max-width : 374px) {
    .pos-menu {
        width: 220px;
        li a {
            justify-content: right;

            i {
                width: 25%;
            }
        }
    }
    .project {
        width: 300px !important;
        height: 180px !important;
    }
    .experiences {
        gap: 1.25rem !important;
    }
    .download-cv {
        .download-text {
            display: none;
        }
    }
    i#two {
        display: block;
    }
}


// Mobile (Small) Size : 325px - 1px
@media screen and (max-width : 324px) {
    .project {
        width: 290px !important;
        height: 180px !important;
    }
}

// More
@media screen and (max-width : 300px) {
    .project {
        width: 250px !important;
        height: 150px !important;
    }
    #coffee {
        span {
            display: none;
        }
    }
}

@media (pointer:none), (pointer:coarse) {
    .project .content {
        bottom: 0% !important;
    }
}