.twits {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;

    .twit {
        width: 50%;
        padding: 2rem;
        text-align: center;
        border-radius: var(--radius);
        background-color: var(--container-color);
        display: flex;
        gap: 1.1rem;
        align-items: center;
        text-align: left;

        p {
            line-height: 25px;
            text-align: center;
            width: 100%;
        }
        .pic {
            border-radius: 50%;
            width: 75px;
        }
        .twit-author {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
        }
    }
    .name {
        display: flex;
        align-items: center;
        justify-content: center;
        img#blueTick {
            width: 20px;
        }
    }
}

hr {
    width: 50%;
}

@media screen and (max-width : 768px) {
    .twit {
        width: 75% !important;
    }
}
@media screen and (max-width : 624px) {
    .twit {
        flex-direction: column !important;
    }
}