footer {
    margin: 3rem 0 .5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    em {
        * {font-weight: normal !important}
    }
    i {
        font-size: 1rem;
        transition: 1s;
        display: inline-block;
    }

    address {
        color: var(--text-color);
        display: flex;
        align-items: center;
        gap: .4rem;
        * { color: var(--text-color) }
    }
    address a:hover {
        i {
            transform: rotateY(360deg) ;
        }
    }
}