.pos-menu {
    position: fixed;
    z-index: 20;
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    width: 350px;
    right: calc(-350px + -4rem);
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition: var(--transition) right;
    border-top-left-radius: var(--radius);

    li a {
        background-color: var(--menu-item-color);
        padding: 1.8rem 1.5rem;
        border-radius: var(--radius);
        justify-content: center;
        position: relative;
        overflow: hidden;

        i {
            color: var(--text-bold-color) !important;
            background-color: var(--first-color);
            height: 100%;
            width: 20%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
        }
    }
}

header {
    direction: rtl;
    margin-bottom: 2rem;
    // magic

    nav ul {
        @include row;
        align-items: center;
        justify-content: space-between;
        a {
            display: flex;
            align-items: center;
            gap: .5rem;
            color: var(--text-bold-color);
        }
        a:hover {
            * {
                color: aqua;
            }
        }
        li {
            cursor: pointer;
        }
        li#coffee i{
            font-size: 2rem;
        }
        #openMenu {
            background-color: var(--project-color);
            border: 1px solid var(--project-color);
            padding: .5rem .55rem;
            border-radius: var(--radius);
        }
        #openMenu:hover {
            background-color: var(--anim-bg-colo);
        }
    }
    .toggle { 
        --size: 2rem;

        appearance: none;
        outline: none;
        cursor: pointer;

        width: var(--size);
        height: var(--size);
        box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
        border-radius: 999px;
        color: hsl(240, 100%, 95%);

        transition: all 500ms;

        &:checked {
            --ray-size: calc(var(--size) * -0.4);
            --offset-orthogonal: calc(var(--size) * 0.65);
            --offset-diagonal: calc(var(--size) * 0.45);

            transform: scale(0.75);
            color: hsl(40, 100%, 50%);
            box-shadow:
                inset 0 0 0 var(--size),
                calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
                var(--offset-orthogonal) 0 0 var(--ray-size),
                0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
                0 var(--offset-orthogonal) 0 var(--ray-size),
                calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
                var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
                calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
                var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
            ;
        }
    }

    .toggle {
        z-index: 1;

        &:checked {
            &~.background {
                --bg: white;
            }

            &~.title {
                --color: hsl(40, 100%, 50%);
            }
        }
    }

    .title {
        --color: hsl(240, 100%, 95%);
        color: var(--color);
        z-index: 1;
        cursor: pointer;
        display: block;
        padding: 0.5rem 0 0;
        transition: color 500ms;
    }
}