.profile {
    gap: 2rem;

    .me {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .author-pic {
            border: 2px inset;
            border-color: hsla(207, 90%, 61%, .7);

            border-radius: 50%;
            width: 150px;
            height: 150px;
            overflow: hidden;
            padding: .2rem;

            display: flex;
            justify-content: center;
            align-items: center;

            animation: author-pic-anim 10s infinite ease-in;

            cursor: pointer;

            position: relative;

            img {
                width: 151px;
                height: 151px;
                border-radius: 50%;
                transition-property: transform;
            }
            i {
                z-index: -1;
                position: absolute;
            }
        }

        .author-pic:hover img {
            transform: scale(1.1);
        }

        .author-name {
            position: relative;
        }

        .author-name>.blue-tick {
            position: absolute;
            top: -5px;
            color: var(--first-color);
        }

        .author-name::after {
            content: 'JS Programmer';
            display: block;
            font-size: var(--font-xs-size);
            font-weight: 500;
            color: var(--text-color);
            margin-top: .5rem;
        }

        .social-media {
            @include row;
            justify-content: center;

            a {
                transition: var(--transition);
            }


            i {
                border-bottom: 1px solid transparent;
            }

            a:hover {
                transform: scale(1.15) !important;

                i {
                    color: var(--first-color);
                    border-bottom: 1px solid var(--first-color);
                }
            }

        }

    }

    .experiences {
        @include row;
        gap: 4rem;

        div {
            width: 33.3%;
        }

        p {
            margin-top: .5rem;
            line-height: 18px;
            font-size: var(--font-s-size);
        }

        p:hover {
            color: var(--text-bold-color)
        }
    }

    .contact {
        @include row;
        align-items: center;

        .resume {
            display: flex;

            .download-cv {
                box-shadow: 0 8px 24px hsla(207, 90%, 61%, .25);
                padding: 1.3rem 2.15rem;
                border: 1px solid var(--first-color);
                border-radius: var(--radius);
                background-color: var(--first-color);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                position: relative;
                overflow: hidden;

                *:not(i) {
                    color: white;
                    font-size: var(--font-l-size);
                }

                i#one {
                    position: absolute;
                    top: -100%;
                    left: 50%;
                    transition: .25s top;
                    transform: translate(-50%, -50%);
                }
            }

            .download-cv:hover {
                background: transparent;

                i#one {
                    top: 50%
                }

                span , #two {
                    color: transparent
                }
            }
        }

        .message-me {
            @include row;
            gap: .2rem;

            button {
                background-color: var(--container-color);
                border: 1px solid var(--container-color);

                a {
                    padding: .4rem .6rem;
                }

                i {
                    font-size: calc(var(--font-xl-size) + .4rem);
                }
            }

            button:hover {
                background-color: transparent;
            }
        }
    }
}

