.profile {
    gap: 2rem;

    .me {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .author-pic {
            border: 2px inset;
            border-color: hsla(207, 90%, 61%, .7);

            border-radius: 50%;
            width: 150px;
            height: 150px;
            overflow: hidden;
            padding: .2rem;

            display: flex;
            justify-content: center;
            align-items: center;

            animation: author-pic-anim 10s infinite ease-in;

            cursor: pointer;

            img {
                width: 151px;
                height: 151px;
                border-radius: 50%;
                transition-property: transform;

            }
        }

        .author-pic:hover img {
            transform: scale(1.1);
        }

        .author-name {
            position: relative;
        }

        .author-name>.blue-tick {
            position: absolute;
            top: -5px;
            color: var(--first-color);
        }

        .author-name::after {
            content: 'JS Programmer';
            display: block;
            font-size: var(--font-xs-size);
            font-weight: 500;
            color: var(--text-color);
            margin-top: .5rem;
        }

        .social-media {
            @include row;
            justify-content: center;

            a {
                transition: var(--transition);
            }
            a:nth-child(1) {
                animation: reverse-ic 8s infinite 1s;
            }
            a:nth-child(2) {
                animation: reverse-ic 8s infinite 2s;
            }
            a:nth-child(3) {
                animation: reverse-ic 8s infinite 3s;
            }
            a:nth-child(4) {
                animation: reverse-ic 8s infinite 4s;
            }

            i {
                border-bottom: 1px solid transparent;
            }

            a:hover {
                transform: scale(1.15) !important;

                i {
                    color: var(--first-color);
                    border-bottom: 1px solid var(--first-color);
                }
            }

        }

    }

    .experiences {
        @include row;
        gap: 4rem;

        div {
            width: 33.3%;
        }

        p {
            margin-top: .5rem;
            line-height: 18px;
            font-size: var(--font-s-size);
        }

        p:hover {
            color: var(--text-bold-color)
        }
    }

    .contact {
        @include row;
        align-items: center;

        .resume {
            display: flex;

            .download-cv {
                box-shadow: 0 8px 24px hsla(207, 90%, 61%, .25);
                padding: 1.3rem 2.15rem;
                border: 1px solid var(--first-color);
                border-radius: var(--radius);
                background-color: var(--first-color);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                position: relative;
                overflow: hidden;

                *:not(i) {
                    color: white;
                    font-size: var(--font-l-size);
                }

                i {
                    position: absolute;
                    top: -100%;
                    left: 50%;
                    transition: .25s top;
                    transform: translate(-50%, -50%);
                }
            }

            .download-cv:hover {
                background: transparent;

                i {
                    top: 50%
                }

                span {
                    color: transparent
                }
            }
        }

        .message-me {
            @include row;
            gap: .2rem;

            button {
                background-color: var(--container-color);
                border: 1px solid var(--container-color);

                a {
                    padding: .4rem .6rem;
                }

                i {
                    font-size: calc(var(--font-xl-size) + .4rem);
                }
            }

            button:hover {
                background-color: transparent;
            }
        }
    }
}

@keyframes author-pic-anim {
    0% {
        box-shadow: 0 8px 24px hsla(207, 90%, 61%, .25);
    }

    16.666666667% {
        box-shadow: 8px 8px 24px hsla(207, 90%, 61%, .25);
    }

    33.333333334% {
        box-shadow: 8px -8px 24px hsla(207, 90%, 61%, .25);
    }

    50.000000001% {
        box-shadow: 0 -8px 24px hsla(207, 90%, 61%, .25);
    }

    66.666666668% {
        box-shadow: -8px -8px 24px hsla(207, 90%, 61%, .25);
    }

    83.333333335% {
        box-shadow: -8px 8px 24px hsla(207, 90%, 61%, .25);
    }

    100% {
        box-shadow: 0 8px 24px hsla(207, 90%, 61%, .25);
    }
}


@keyframes reverse-ic {
    0% { transform: rotate(0) }

    16.666666667% { transform: rotate(0) }

    33.333333334% { transform: rotate(0) }

    50.000000001% { transform: rotate(0) }

    66.666666668% { transform: rotate(0) }

    83.333333335% { transform: rotate(360deg) }

    100% { transform: rotate(360deg) }
}