.works {
    margin-top: 2rem;

    #tabSwitcher {
        @include row;
        gap: .3rem;
        background-color: var(--container-color);
        padding: .3rem;
        border-radius: var(--radius);
        position: relative;

        li {
            cursor: pointer;
            width: 175px;
            border-radius: var(--radius);
            padding: 1.25rem 0;
        }

        li.active {
            padding: 1.75rem 0;
            width: 48% !important;
            background-color: var(--body-color);
            position: absolute;
            z-index: -1;
            left: 5px;
            transition: var(--transition) left;
        }

        li.active.position {
            left: 51% !important;
        }
    }
}

.works .projects,
.works .skills {
    margin-top: 2rem;
}

.works .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .border-anime {

        border-radius: var(--radius);

        --border-size: 3px;
        --border-angle: 0turn;
        // width: 60vmin;
        // height: 50vmin;
        background-image: conic-gradient(from var(--border-angle),
                #213,
                #112 50%,
                #213),
            conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
        background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
            cover;
        background-position: center center;
        background-repeat: no-repeat;

        animation: bg-spin 3s linear infinite;


        &:hover {
            animation-play-state: paused;
        }

        @keyframes bg-spin {
            to {
                --border-angle: 1turn;
            }
        }

    }

    .project {
        width: 400px;
        height: 240px;
        position: relative;
        padding: .15rem;

        border-radius: var(--radius);

        overflow: hidden;

        img.project-bg {
            width: 100%;
            height: 100%;
        }

        img {
            text-indent: -9999px;
            border-radius: 5px;
        }

        .emoji {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--text-bold-color);
            z-index: -1;
        }

        .content {
            width: calc(100% - 2rem);
            height: calc(100% - 2rem);

            background: var(--project-color);
            position: absolute;
            bottom: -105%;
            left: 0;

            padding: 1rem;
            // border-radius: var(--radius);

            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: start;
            gap: 1rem;

            transition: .5s bottom;

            span {
                color: var(--text-color);
            }

            .title {
                font-size: calc(var(--font-xl-size) + .75rem);
                color: var(--text-bold-color);
                margin-top: -.5rem;
            }

            a {
                border-radius: 50%;
                padding: .15rem .22rem;
                * {
                    color: #213;
                }
            }

            .buttons {
                display: flex;
                gap: .2rem;
            }

            a.open-this-project {
                background-color: #4FC0D0;
                border: 1px solid blue;
            }
            a.run-this-project {
                background-color: #A2FF86;
                border: 1px solid green;
            }

            a.open-this-project:hover, a.run-this-project:hover {
                background: transparent;
            }

            .creadit {
                user-select: none;

                position: absolute;
                top: 10px;
                right: 10px;

                background-color: var(--project-color);
                border: 1px solid rgba(33, 38, 45, .5);
                border-radius: calc(var(--radius) - 4px);
                padding: .2rem .6rem;

                i {
                    font-size: .9rem;
                    color: var(--text-bold-color);
                }
            }

            .date-parent {
                user-select: none;

                position: absolute;
                bottom: 10px;
                right: 10px;

                // background-color: rgba(33, 38, 45, .4);
                border-bottom: 1px solid var(--first-color);
                padding: .2rem .4rem;

                display: flex;
                gap: .4rem;
                align-items: center;
                justify-content: center;

                i {
                    font-size: .9rem;
                }
            }
        }

        .more-desc {
            // background-color: red;
            cursor: pointer;
            width: 100%;
        }

        * {
            color: white;
        }
    }

    .project:hover .content, .project:focus .content {
        bottom: 0;
    }

    // .project:focus-within {
    // }

    // .project:focus-visible {
    // }
}

.works .skills {
    @include row;
    gap: 3rem;

    .title-sec {
        font-size: var(--font-xl-size);
        color: var(--text-bold-color);
        font-weight: 600;
    }


    .content {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem
    }

    .skill {
        @include row;
        gap: .2rem;
        align-items: top;

        text-align: left;

        .skill-name {
            font-size: var(--font-l-size);
            margin-bottom: .3rem;
        }
    }
}