.container {
    max-width: 968px;
    padding: 2rem 2rem 0;
    margin: auto;
}
body {
    font-family: 'Poppins Regular';
    background-color: var(--body-color);
    color: var(--text-color);
}
* {
    font-family: inherit;
    font-size: var(--font-m-size);
    transition: var(--transition);
    transition-property: color , background , border-color;

    -webkit-tap-highlight-color: transparent;
}
button {
    cursor: pointer;

    font-weight: 400;
    border: none;
    border-radius: var(--radius);

    // Display
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
i {
    font-size: 1.6rem;   
    color: var( --text-bold-color);
    position: relative;
}
h1 , h2 , h3 , b , strong {
    font-weight: 600;
    color: var( --text-bold-color);
}

h1 {
    font-size: var(--font-xl-size);
}
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(207, 8%, 66%);
}
::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: hsl(207, 8%, 54%);
}
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(207, 8%, 44%);
}

button , li , img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
::selection {
    color: #333;
    background-color: violet;
}