@font-face {
    font-family: 'Poppins Regular';
    src: url(../../assets/font/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins Bold';
    src: url(../../assets/font/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins Light';
    src: url(../../assets/font/Poppins/Poppins-Light.ttf);
}