:root {
    --body-color : white;
    --text-color : #657481;
    --text-bold-color : #22272b;

    --radius : 8px;
    --transition : .25s;

    --font-xl-size: 1.25rem;
    --font-l-size: 1rem;
    --font-m-size: .938rem;
    --font-s-size: .813rem;
    --font-xs-size: .75rem;

    --first-color: #42a5f5;
    --container-color: #e9ebec;
}